<header>
  <h1>Real Time Sales Data</h1>
</header>

<table>
  <thead>
  <tr>
    <th>Product</th>
    <th>Store</th>
    <th>Total Sales Units</th>
    <th>Total Sales Revenue</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let sale of salesData">
    <td>{{ sale.product }}</td>
    <td>{{ sale.store }}</td>
    <td>{{ sale.totalSalesUnit }}</td>
    <td>{{ sale.totalSalesRevenue | currency }}</td>
  </tr>
  </tbody>
</table>
