header {
  background-color: #2b2d42;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

th {
  background-color: #2b2d42;
  color: #fff;
  text-align: left;
  padding: 12px 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

td {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover td {
  background-color: #f8f8f8;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}
